body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  background-color: #DAEDFE;
  text-align: center;
  overflow: hidden;
}

h1 {
  font-size: 3rem;
  margin-bottom: 10px;
  color: #173e94;
  text-align: center;
}
h2{
    color:#376cdd;
    font-size: 1rem;
}

/* map */
.worldmap {
  position: relative;
  display: inline-block;
  max-width: 100%;
  z-index: 1;
}

.world-map {
  top:0;
  left:0;
  max-width: 100%;
  height: auto;
  display: block;
  position: absolute;
}

#country1,
#country2,
#country3,
#country4,
#country5 {
    display: none;
    position: absolute; 
    top: 0;
    left: 0;
}

/* points */
.point {
  position: absolute;
  width: 14px;
  height: 14px;
  background-color: crimson;
  border: 1px solid white;
  border-radius: 50%;
  cursor: pointer;
  transform: translate(-50%, -50%);
  transition: transform 0.2s;
}

.point:hover {
  transform: translate(-50%, -50%) scale(1.3);
}

/*  positions of the dots  */
.point[data-popup="japan"] { top: 43%; left: 87%; }
.point[data-popup="switzerland"] { top: 39%; left: 50%; }
.point[data-popup="italy"] { top: 42%; left: 51%; }
.point[data-popup="bali"] { top: 70%; left: 82%; }
.point[data-popup="nyc"] { top: 43%; left: 22%; }


/* popups of the dots */
.popup {
  position: absolute;
  background: white;
  padding: 15px;
  width: 600px;
  border-radius: 10px;
  box-shadow: 0 2px 15px rgba(0,0,0,0.25);
  z-index: 10;
  pointer-events: none;

  display: flex;
  flex-direction: row;  
  gap: 15px;

  opacity: 0;          
  transition: opacity 0.3s, transform 0.3s; 
  transform: translateY(10px);
}

.popup.show {
  opacity: 1;
  transform: translateY(0);
}

.popup img {
  width: 300px;
  height: auto;
  border-radius: 10px;
  object-fit: contain;
  flex-shrink: 0;
}

.popup .text {
  display: flex;
  flex-direction: column; 
  text-align: left; 
  gap: 12px; 
  flex: 1;
}

.popup .text h2 {
  margin: 0 0 5px 0;
  font-size: 1.2rem;
  color: #222;
}

.popup .text p {
  margin: 0;
  font-size: 0.9rem;
  color: #333;
}
